In [1]:
import numpy as np
import pandas as pd

C:\Users\chimi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [8]:
avocadoprice_df = pd.read_csv('C:/Users/chimi/Desktop/Tableau Projects/avocado/avocado cleaned.csv')

In [9]:
avocadoprice_df.head(5)

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
0,1/4/2015,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,1/4/2015,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,1/11/2015,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
3,1/11/2015,1.77,1182.56,39.00,305.12,0.00,838.44,838.44,0.00,0.0,organic,2015,Albany
4,1/18/2015,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany

In [10]:
# Check for the structure
avocadoprice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41025 entries, 0 to 41024
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          41025 non-null  object
 1   AveragePrice  41025 non-null  float64
 2   TotalVolume   41025 non-null  float64
 3   plu4046       41025 non-null  float64
 4   plu4225       41025 non-null  float64
 5   plu4770       41025 non-null  float64
 6   TotalBags     41025 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          41025 non-null  object
 11  year          41025 non-null  int64
 12  region        41025 non-null  object
dtypes: float64(9), int64(1), object(3)
memory usage: 4.1+ MB

In [18]:
# Number of rows and columns
avocadoprice_df.shape

(41025, 13)

In [12]:
# Overview of the columns
avocadoprice_df.columns

Index(['Date', 'AveragePrice', 'TotalVolume', 'plu4046', 'plu4225', 'plu4770',
       'TotalBags', 'SmallBags', 'LargeBags', 'XLargeBags', 'type', 'year',
       'region'],
      dtype='object')

In [16]:
# Convert date to datetime format
avocadoprice_df['Date'] = pd.to_datetime(avocadoprice_df['Date'])

In [19]:
# Check for duplicates
# Duplicate present in this dataset is explainable- Multiple region might have sold
# avocados at the same price. 
# Multiple varieties which can have its own price and multiple entries.
# Data merged from various sources which can result in duplicates 
avocadoprice_df['Date'].duplicated().sum()

40664

In [25]:
# Check for missing values
missingvals_per = avocadoprice_df.isnull().sum() / 100
print(missingvals_per)

Date            0.0
AveragePrice    0.0
TotalVolume     0.0
plu4046         0.0
plu4225         0.0
plu4770         0.0
TotalBags       0.0
SmallBags       0.0
LargeBags       0.0
XLargeBags      0.0
type            0.0
year            0.0
region          0.0
dtype: float64

In [ ]:
# Make a dashboard